:root {
  --color-black: #000;
  --color-white: #fff;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("../fonts/gilroy/Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("../fonts/gilroy/Gilroy-RegularItalic"), url("../fonts/gilroy/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Semibold.eot");
  src: local("../fonts/gilroy/Gilroy Semibold"), local("../fonts/gilroy/Gilroy-Semibold"), url("../fonts/gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("../fonts/gilroy/Gilroy Medium"), local("../fonts/gilroy/Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Bold.eot");
  src: local("../fonts/gilroy/Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorm/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("../fonts/ttnorm/TTNorms-Bold"), url("../fonts/ttnorm/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ttnorm/TTNorms-Bold.woff2") format("woff2"), url("../fonts/ttnorm/TTNorms-Bold.woff") format("woff"), url("../fonts/ttnorm/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorm/TTNorms-Light.eot");
  src: local("TT Norms Light"), local("../fonts/ttnorm/TTNorms-Light"), url("../fonts/ttnorm/TTNorms-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ttnorm/TTNorms-Light.woff2") format("woff2"), url("../fonts/ttnorm/TTNorms-Light.woff") format("woff"), url("../fonts/ttnorm/TTNorms-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorm/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("../fonts/ttnorm/TTNorms-Medium"), url("../fonts/ttnorm/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ttnorm/TTNorms-Medium.woff2") format("woff2"), url("../fonts/ttnorm/TTNorms-Medium.woff") format("woff"), url("../fonts/ttnorm/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorm/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("../fonts/ttnorm/TTNorms-Regular"), url("../fonts/ttnorm/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ttnorm/TTNorms-Regular.woff2") format("woff2"), url("../fonts/ttnorm/TTNorms-Regular.woff") format("woff"), url("../fonts/ttnorm/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/ttnorm/TTNorms-LightItalic.eot");
  src: local("TT Norms Light Italic"), local("../fonts/ttnorm/TTNorms-LightItalic"), url("../fonts/ttnorm/TTNorms-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ttnorm/TTNorms-LightItalic.woff2") format("woff2"), url("../fonts/ttnorm/TTNorms-LightItalic.woff") format("woff"), url("../fonts/ttnorm/TTNorms-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

:root {
  --gilroy: "Gilroy", sans-serif;
}

body {
  margin: 0;
  font-family: "TT Norms", sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-stretch: 100%;
  font-weight: 400;
  min-width: 320px;
  background-color: #181818;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: -0.02em;
}

.wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 1300px) {
  .wrap {
    max-width: 1100px;
  }
}
@media (max-width: 1099px) {
  .wrap {
    max-width: 992px;
  }
}
@media (max-width: 991px) {
  .wrap {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .wrap {
    max-width: 575px;
  }
}
@media (max-width: 574px) {
  .wrap {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.text-center {
  text-align: center;
}

a {
  color: inherit;
}

.app {
  padding-top: 246px;
  overflow: hidden;
  max-width: 2400px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .app {
    padding-top: 85px;
  }
}
.btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding: 26px 114px;
  background: #3C4AD2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(60, 74, 210, 0.5);
}

@media (max-width: 767px) {
  .btn {
    padding: 18px 133px;
    font-size: 13px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s all;
  z-index: 5;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 131px;
  min-width: 183px;
  max-width: 183px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__des {
  width: calc(100% - 183px - 131px);
}

.header__row {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header__row:last-child {
  border-bottom: none;
}

.top-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.top-nav li {
  margin-right: 31px;
}
.top-nav li:last-child {
  flex: 1;
  text-align: right;
  margin-right: 0;
}
.top-nav a {
  font-size: 13px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s all;
  padding: 5px 0;
}
.top-nav a:hover, .top-nav a.active {
  color: #fff;
}

.header__mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__location {
  display: flex;
  align-items: center;
}

.header__location__img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 14px;
}

.header__location__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  max-width: 123px;
}

.header__mid__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__soc {
  display: flex;
}
.header__soc li {
  margin-left: 30px;
}
.header__soc a {
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
}
.header__soc a:hover {
  border: 1px solid white;
}

.header__phone {
  margin-left: 14px;
  font-family: var(--gilroy);
  font-weight: bold;
  font-size: 15px;
  line-height: 1.1;
  color: white;
}
.header__phone span {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.75);
}

.bot-nav ul {
  display: flex;
  flex-wrap: wrap;
}
.bot-nav li {
  margin-right: 46px;
}
.bot-nav li:last-child {
  margin-right: 0;
}
.bot-nav a {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  transition: 0.2s all;
  padding: 5px 0;
  position: relative;
}
.bot-nav a:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  transition: 0.2s ease-in-out;
}
.bot-nav a:hover:before, .bot-nav a.active:before {
  width: 100%;
}

.header__mob {
  display: none;
}

@media (max-width: 1300px) {
  .bot-nav li {
    margin-right: 20px;
  }

  .logo {
    margin-right: 75px;
  }

  .header__des {
    width: calc(100% - 183px - 75px);
  }
}
@media (max-width: 1099px) {
  .logo {
    min-width: 150px;
    max-width: 150px;
    margin-right: 50px;
  }

  .header__des {
    width: calc(100% - 150px - 50px);
  }

  .bot-nav a {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .header__des {
    display: none;
  }

  .header__mob {
    display: flex;
  }

  .header__wrap {
    justify-content: space-between;
  }

  .logo {
    padding-top: 18px;
    padding-bottom: 18px;
    min-width: 116px;
    max-width: 116px;
  }

  .header__mob__phone {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    margin-left: 12px;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger .burger-close {
    display: none;
  }

  .burger.active .burger-open {
    display: none;
  }
  .burger.active .burger-close {
    display: block;
  }

  .header__mob {
    display: flex;
  }

  .header {
    position: fixed;
  }

  .header.fix {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .logo {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.main-slider {
  margin-top: -246px;
}

.main-slider__item {
  position: relative;
}

.main-slider__item__bot {
  position: relative;
  z-index: 2;
  width: 100%;
}

.main-slider__item__bot .wrap {
  position: relative;
  z-index: 1;
}

.main-slider__item__content {
  position: relative;
  z-index: 2;
  max-width: 570px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 44px;
}

.main-slider__item__content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 446px;
  z-index: 1;
  background-image: url("../img/main/light2.png");
  background-position: right 20px top -300px;
  background-repeat: no-repeat;
  background-color: #181818;
}

.main-slider__item__content__wrap {
  position: relative;
  z-index: 2;
}

.tag {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  color: #1C1C1C;
  padding: 6px 20px;
  background: #FFFFFF;
  border-radius: 71px;
}

.main-slider__item__title {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 35px;
  margin-top: 24px;
  color: #FFFFFF;
}

.main-slider__item__text {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 43px;
  max-width: 251px;
}

.swiper-slide * {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  #main-slider .swiper-slide {
    overflow: hidden;
  }
  #main-slider .swiper-slide-active .main-slider__item__content__wrap {
    -webkit-animation: fadeInLeftBig 0.5s linear;
    animation: fadeInLeftBig 0.5s linear;
  }
}
.swiper__action {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}
.swiper__action .wrap {
  position: relative;
}
.swiper__action .swiper-button-next, .swiper__action .swiper-button-prev {
  right: 30px;
  left: auto;
  top: auto;
  bottom: 36px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0);
}
.swiper__action .swiper-button-next:after, .swiper__action .swiper-button-prev:after {
  font-size: 20px;
  color: #fff;
}
.swiper__action .swiper-button-prev {
  right: 94px;
}
.swiper__action .swiper-button-prev:before {
  content: "";
  display: block;
  position: absolute;
  right: -12px;
  height: 34px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.swiper__action .swiper-button-next:hover, .swiper__action .swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.swiper__action .swiper-pagination {
  left: auto;
  right: 30px;
  bottom: 227px;
  display: flex;
  align-items: center;
  top: auto;
  width: auto;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}
.swiper__action .swiper-pagination .swiper-pagination-current {
  color: #fff;
}
.swiper__action .swiper-pagination .line {
  display: block;
  width: 102px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-right: 22px;
  margin-left: 22px;
}

#main-slider {
  margin-top: -150px;
}

.main-slider-img__item {
  min-height: 100vh;
  position: relative;
}

@media (min-height: 1080px) {
  .main-slider-img__item {
    min-height: 1080px;
  }
}
.main-slider__img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-slider-img__item2 {
  position: relative;
}

.main-slider-img__item2:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid #3C4AD2;
  width: 0;
}

.main-slider__wrap {
  position: relative;
}

#main-slider-img-sub {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 460px;
  pointer-events: none;
  z-index: 3;
}
#main-slider-img-sub .swiper-slide {
  width: auto !important;
}
#main-slider-img-sub .swiper-slide-active .main-slider-img__item2:before {
  width: 100%;
  transition: 5s all;
}

.main-slider__img2 {
  display: block;
  width: 230px;
  height: 126px;
}

.mob-img-sec {
  display: none;
}

@media (max-width: 1300px) {
  .main-slider-img__item {
    min-height: initial;
  }

  .main-slider__img {
    position: initial;
  }

  .main-slider__img2 {
    width: 200px;
    height: 100px;
  }

  #main-slider-img-sub {
    width: 400px;
  }
}
@media (max-width: 1099px) {
  .main-slider__img2 {
    width: 180px;
    height: 80px;
  }

  #main-slider-img-sub {
    width: 360px;
  }
}
@media (max-width: 991px) {
  .main-slider {
    margin-top: -85px;
  }

  #main-slider-img-sub {
    display: none;
  }

  .swiper__action {
    position: initial;
  }
  .swiper__action .swiper-pagination {
    display: none;
  }
  .swiper__action .wrap {
    display: flex;
    justify-content: center;
  }
  .swiper__action .swiper-button-prev, .swiper__action .swiper-button-next {
    position: initial;
  }
  .swiper__action .swiper-button-prev {
    margin: 0 12px;
  }
  .swiper__action .swiper-button-next {
    margin: 0 12px;
  }
}
@media (max-width: 575px) {
  .main-slider {
    display: none;
  }

  .mob-img-sec {
    display: block;
    height: 329px;
    overflow: hidden;
    margin-top: -85px;
  }
  .mob-img-sec img {
    width: 100%;
  }

  .main-slider__item__title {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .main-slider__item__content {
    padding-right: 5px;
    padding-top: 25px;
  }

  .tag {
    font-size: 12px;
    padding: 3px 15px;
  }

  .main-slider__item__text {
    max-width: initial;
    font-size: 14px;
    margin-bottom: 30px;
  }

  #main-slider {
    margin-top: -50px;
  }
  #main-slider .btn {
    padding: 13px 0;
    width: 100%;
    max-width: 335px;
  }

  .main-slider__item__content:before {
    background-position: right 50px top -150px;
    background-size: 500px;
  }
}
/*# sourceMappingURL=main.css.map */
